.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
    position: relative;
}

.nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 2.9rem;
    left: 50%;
    transform: translateX(-50%);
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.nav-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.sticky .nav-item::after {
    top: 6rem;
}

.nav-link {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.sticky .nav-link {
    color: #092627;
    text-shadow: none;
}

.multi-page-nav .nav-link {
    color: #092627;
    text-shadow: none;
}