
.logo {
    display: flex;
    flex-direction: column;
}

.logo span {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.logo span:nth-child(1) {
    font-family: 'Mooli', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.logo span:nth-child(1) span {
    display: inline-block;
    font-size: 1.8rem;
    transform: translateY(-0.8rem);
}

.logo span:nth-child(2) {
    display: inline-block;
    font-family: 'Croissant One', cursive;
    font-size: 1.5rem;
    color: #ddd;
    letter-spacing: 0.1rem;
    text-align: right;
    transform: translate(2.2rem, -1rem);
}

.sticky .logo span {
    color: #092627;
    text-shadow: none;
}

.multi-page-nav .logo span {
    color: #092627;
    text-shadow: none;
}